<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="83a2f9">  <td>20/11/09 23:07:06</td>   <td>0</td> <td title="&lt;&lt;BaseTest.closeAll()[pri:0, instance:com.TestVagrant.NDTV.Tests.Phase3@59ec2012]">&lt;&lt;closeAll</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="bbb592">  <td>20/11/09 23:06:32</td>   <td>-33775</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Phase3.phase_1_Test()[pri:0, instance:com.TestVagrant.NDTV.Tests.Phase3@59ec2012]">phase_1_Test</td> 
  <td>main@1340328248</td>   <td></td> </tr>
<tr bgcolor="83a2f9">  <td>20/11/09 23:06:20</td>   <td>-45665</td> <td title="&gt;&gt;BaseTest.start()[pri:0, instance:com.TestVagrant.NDTV.Tests.Phase3@59ec2012]">&gt;&gt;start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1340328248</td>   <td></td> </tr>
</table>
